.btns-size{
    width:50%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-div{
    position: absolute;
    width:100%;
    left: 25%;
    margin-top:25px;
}

.title-margins{
    margin-left: -45%;
}